In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt
from pandas import read_excel

In [8]:
df_prod = pd.read_csv("reporte_mayo_octubre - reporte-productos (2) (3).csv")
df_prod

/tmp/ipykernel_2061/4182693211.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_prod = pd.read_csv("reporte_mayo_octubre - reporte-productos (2) (3).csv")

,Fecha,Negocio,Facturador,Vendedor,Proveedor de Domicilio,Cliente,Mesa,No. Factura,Total Factura,Categoría,...,Cantidad,Precio de venta,Valor Promoción,Valor Ventas,Valor Descuentos,Valor Neto,Impuesto,Base Imp.,Total Imp.,Total
0,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bebidas,...,1.0,"6.200,00",0,"5.740,74",0,"5.740,74",I CONSUMO (8%),"5.740,74","459,26","6.200,00"
1,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Platos Fuertes,...,1.0,"32.000,00",0,"32.000,00",0,"32.000,00",NaN,0,0,"32.000,00"
2,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bowls,...,1.0,"34.000,00",0,"31.481,48",0,"31.481,48",I CONSUMO (8%),"31.481,48","2.518,52","34.000,00"
3,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",A BURGER MASTER,...,1.0,"5.000,00",0,"5.000,00",0,"5.000,00",NaN,0,0,"5.000,00"
4,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",Entradas,...,1.0,"16.000,00",0,"14.814,81",0,"14.814,81",I CONSUMO (8%),"14.814,81","1.185,19","16.000,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38531,2022-10-17 11:23:05 p. m.,Primal Alimentos SAS,Astrid,Kasandra,NaN,CUANTÍAS MENORES,8,A10032883,"119.600,00",Arma tu Bowl,...,1.0,"1.000,00",0,"1.000,00","0,00","1.000,00",NaN,"0,00","0,00","1.000,00"
38532,2022-10-17 11:23:05 p. m.,Primal Alimentos SAS,Astrid,Kasandra,NaN,CUANTÍAS MENORES,8,A10032883,"119.600,00",Arma tu Bowl,...,1.0,"7.500,00",0,"6.944,44","0,00","6.944,44",I CONSUMO (8%),"6.944,44","555,56","7.500,00"
38533,2022-10-17 11:23:05 p. m.,Primal Alimentos SAS,Astrid,Kasandra,NaN,CUANTÍAS MENORES,8,A10032883,"119.600,00",Arma tu Bowl,...,1.0,"7.800,00",0,"7.222,22","0,00","7.222,22",I CONSUMO (8%),"7.222,22","577,78","7.800,00"
38534,2022-10-17 11:23:29 p. m.,Primal Alimentos SAS,Astrid,Viviana,NaN,CUANTÍAS MENORES,PARA LLEVAR,A10032884,"13.000,00",Postres,...,1.0,"10.000,00",0,"9.259,26","0,00","9.259,26",I CONSUMO (8%),"9.259,26","740,74","10.000,00"
38535,2022-10-17 11:23:29 p. m.,Primal Alimentos SAS,Astrid,Viviana,NaN,CUANTÍAS MENORES,PARA LLEVAR,A10032884,"13.000,00",Despensa,...,1.0,"3.000,00",0,"2.777,78","0,00","2.777,78",I CONSUMO (8%),"2.777,78","222,22","3.000,00"

In [9]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38536 entries, 0 to 38535
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   38536 non-null  object
 1   Negocio                 38536 non-null  object
 2   Facturador              38536 non-null  object
 3   Vendedor                38536 non-null  object
 4   Proveedor de Domicilio  5 non-null      object
 5   Cliente                 38536 non-null  object
 6   Mesa                    38536 non-null  object
 7   No. Factura             38536 non-null  object
 8   Total Factura           38536 non-null  object
 9   Categoría               38536 non-null  object
 10  Código                  1 non-null      float64
 11  Producto                38536 non-null  object
 12  Cantidad                38527 non-null  float64
 13  Precio de venta         38536 non-null  object
 14  Valor Promoción         38536 non-null  int64
 15  Valor Ventas            38536 non-null  object
 16  Valor Descuentos        38536 non-null  object
 17  Valor Neto              38536 non-null  object
 18  Impuesto                28655 non-null  object
 19  Base Imp.               38536 non-null  object
 20  Total Imp.              38536 non-null  object
 21  Total                   38536 non-null  object
dtypes: float64(2), int64(1), object(19)
memory usage: 6.5+ MB

In [10]:
df_prod.columns

Index(['Fecha', 'Negocio', 'Facturador', 'Vendedor', 'Proveedor de Domicilio',
       'Cliente', 'Mesa', 'No. Factura', 'Total Factura', 'Categoría',
       'Código', 'Producto', 'Cantidad', 'Precio de venta', 'Valor Promoción',
       'Valor Ventas', 'Valor Descuentos', 'Valor Neto', 'Impuesto',
       'Base Imp.', 'Total Imp.', 'Total'],
      dtype='object')

In [11]:
df_prod['Precio de venta'] = [x[:-3] for x in df_prod['Precio de venta']]

In [12]:
df_prod['Total']

0         6.200,00
1        32.000,00
2        34.000,00
3         5.000,00
4        16.000,00
           ...
38531     1.000,00
38532     7.500,00
38533     7.800,00
38534    10.000,00
38535     3.000,00
Name: Total, Length: 38536, dtype: object

In [ ]:
# Remove $ sign
#df_prod['Total'] = [x[1:] for x in df_prod['Total']]

In [13]:
df_prod['Total'] = [x[:-3] for x in df_prod['Total']]
df_prod['Valor Descuentos'] = [x[:-3] for x in df_prod['Valor Descuentos']]
df_prod['Total Imp.'] = [x[:-3] for x in df_prod['Total Imp.']]

In [14]:
# df_prod['Precio de venta'] = df_prod['Precio de venta'].str.replace(',', '.')
df_prod.head()

,Fecha,Negocio,Facturador,Vendedor,Proveedor de Domicilio,Cliente,Mesa,No. Factura,Total Factura,Categoría,...,Cantidad,Precio de venta,Valor Promoción,Valor Ventas,Valor Descuentos,Valor Neto,Impuesto,Base Imp.,Total Imp.,Total
0,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bebidas,...,1.0,6.200,0,"5.740,74",,"5.740,74",I CONSUMO (8%),"5.740,74",459,6.200
1,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Platos Fuertes,...,1.0,32.000,0,"32.000,00",,"32.000,00",NaN,0,,32.000
2,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bowls,...,1.0,34.000,0,"31.481,48",,"31.481,48",I CONSUMO (8%),"31.481,48",2.518,34.000
3,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",A BURGER MASTER,...,1.0,5.000,0,"5.000,00",,"5.000,00",NaN,0,,5.000
4,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",Entradas,...,1.0,16.000,0,"14.814,81",,"14.814,81",I CONSUMO (8%),"14.814,81",1.185,16.000

In [15]:
df_prod['Precio de venta'] = df_prod['Precio de venta'].str.replace('.', '')

/tmp/ipykernel_2061/3993051426.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_prod['Precio de venta'] = df_prod['Precio de venta'].str.replace('.', '')

In [16]:
df_prod['Total'] = df_prod['Total'].str.replace('.', '')
df_prod['Valor Descuentos'] = df_prod['Valor Descuentos'].str.replace('.', '')
df_prod['Total Imp.'] = df_prod['Total Imp.'].str.replace('.', '')

/tmp/ipykernel_2061/18796460.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_prod['Total'] = df_prod['Total'].str.replace('.', '')
/tmp/ipykernel_2061/18796460.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_prod['Valor Descuentos'] = df_prod['Valor Descuentos'].str.replace('.', '')
/tmp/ipykernel_2061/18796460.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_prod['Total Imp.'] = df_prod['Total Imp.'].str.replace('.', '')

In [17]:
df_prod['Total'] = pd.to_numeric(df_prod['Total'])
df_prod['Total Imp.'] = pd.to_numeric(df_prod['Total Imp.'])

In [18]:
df_prod['Precio de venta'] = pd.to_numeric(df_prod['Precio de venta'])

In [19]:
df_prod.iloc[16889]

Fecha                     2022-07-14 04:04:01 a. m.
Negocio                        Primal Alimentos SAS
Facturador                                   Astrid
Vendedor                                   Kasandra
Proveedor de Domicilio                          NaN
Cliente                                     General
Mesa                                              1
No. Factura                               A10028170
Total Factura                             73.500,00
Categoría                                   Bebidas
Código                                          NaN
Producto                             NV LIMO SANDIA
Cantidad                                        1.0
Precio de venta                              7500.0
Valor Promoción                                   0
Valor Ventas                               6.944,44
Valor Descuentos
Valor Neto                                 6.944,44
Impuesto                             I CONSUMO (8%)
Base Imp.                                  6.944,44
Total Imp.                                    555.0
Total                                        7500.0
Name: 16889, dtype: object

In [20]:
df_prod.iloc[47348]

IndexError: single positional indexer is out-of-bounds

In [21]:
df_prod['Total'].index[16889]

16889

In [22]:
df_prod.dtypes

Fecha                      object
Negocio                    object
Facturador                 object
Vendedor                   object
Proveedor de Domicilio     object
Cliente                    object
Mesa                       object
No. Factura                object
Total Factura              object
Categoría                  object
Código                    float64
Producto                   object
Cantidad                  float64
Precio de venta           float64
Valor Promoción             int64
Valor Ventas               object
Valor Descuentos           object
Valor Neto                 object
Impuesto                   object
Base Imp.                  object
Total Imp.                float64
Total                     float64
dtype: object

In [23]:
df_prod.head()

,Fecha,Negocio,Facturador,Vendedor,Proveedor de Domicilio,Cliente,Mesa,No. Factura,Total Factura,Categoría,...,Cantidad,Precio de venta,Valor Promoción,Valor Ventas,Valor Descuentos,Valor Neto,Impuesto,Base Imp.,Total Imp.,Total
0,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bebidas,...,1.0,6200.0,0,"5.740,74",,"5.740,74",I CONSUMO (8%),"5.740,74",459.0,6200.0
1,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Platos Fuertes,...,1.0,32000.0,0,"32.000,00",,"32.000,00",NaN,0,NaN,32000.0
2,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bowls,...,1.0,34000.0,0,"31.481,48",,"31.481,48",I CONSUMO (8%),"31.481,48",2518.0,34000.0
3,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",A BURGER MASTER,...,1.0,5000.0,0,"5.000,00",,"5.000,00",NaN,0,NaN,5000.0
4,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",Entradas,...,1.0,16000.0,0,"14.814,81",,"14.814,81",I CONSUMO (8%),"14.814,81",1185.0,16000.0

In [42]:
df_prod['Hora']=df_prod['Fecha'].str.extract(r'(\d{2}:\d{2}:\d{2})')

In [49]:
df_prod['Dia']=df_prod['Fecha'].str.extract(r'(\d{4}-\d{2}-\d{2})')

In [50]:
df_prod

,Fecha,Negocio,Facturador,Vendedor,Proveedor de Domicilio,Cliente,Mesa,No. Factura,Total Factura,Categoría,...,Valor Promoción,Valor Ventas,Valor Descuentos,Valor Neto,Impuesto,Base Imp.,Total Imp.,Total,Hora,Dia
0,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bebidas,...,0,"5.740,74",,"5.740,74",I CONSUMO (8%),"5.740,74",459.0,6200.0,09:05:41,2022-05-04
1,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Platos Fuertes,...,0,"32.000,00",,"32.000,00",NaN,0,NaN,32000.0,09:05:41,2022-05-04
2,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bowls,...,0,"31.481,48",,"31.481,48",I CONSUMO (8%),"31.481,48",2518.0,34000.0,09:05:41,2022-05-04
3,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",A BURGER MASTER,...,0,"5.000,00",,"5.000,00",NaN,0,NaN,5000.0,09:05:58,2022-05-04
4,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",Entradas,...,0,"14.814,81",,"14.814,81",I CONSUMO (8%),"14.814,81",1185.0,16000.0,09:05:58,2022-05-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38531,2022-10-17 11:23:05 p. m.,Primal Alimentos SAS,Astrid,Kasandra,NaN,CUANTÍAS MENORES,8,A10032883,"119.600,00",Arma tu Bowl,...,0,"1.000,00",0,"1.000,00",NaN,"0,00",0.0,1000.0,11:23:05,2022-10-17
38532,2022-10-17 11:23:05 p. m.,Primal Alimentos SAS,Astrid,Kasandra,NaN,CUANTÍAS MENORES,8,A10032883,"119.600,00",Arma tu Bowl,...,0,"6.944,44",0,"6.944,44",I CONSUMO (8%),"6.944,44",555.0,7500.0,11:23:05,2022-10-17
38533,2022-10-17 11:23:05 p. m.,Primal Alimentos SAS,Astrid,Kasandra,NaN,CUANTÍAS MENORES,8,A10032883,"119.600,00",Arma tu Bowl,...,0,"7.222,22",0,"7.222,22",I CONSUMO (8%),"7.222,22",577.0,7800.0,11:23:05,2022-10-17
38534,2022-10-17 11:23:29 p. m.,Primal Alimentos SAS,Astrid,Viviana,NaN,CUANTÍAS MENORES,PARA LLEVAR,A10032884,"13.000,00",Postres,...,0,"9.259,26",0,"9.259,26",I CONSUMO (8%),"9.259,26",740.0,10000.0,11:23:29,2022-10-17
38535,2022-10-17 11:23:29 p. m.,Primal Alimentos SAS,Astrid,Viviana,NaN,CUANTÍAS MENORES,PARA LLEVAR,A10032884,"13.000,00",Despensa,...,0,"2.777,78",0,"2.777,78",I CONSUMO (8%),"2.777,78",222.0,3000.0,11:23:29,2022-10-17

In [44]:
df_prod['Hora'] = pd.to_datetime(df_prod['Hora'],format= '%H:%M:%S' ).dt.time

In [45]:
df_prod.head()

,Fecha,Negocio,Facturador,Vendedor,Proveedor de Domicilio,Cliente,Mesa,No. Factura,Total Factura,Categoría,...,Precio de venta,Valor Promoción,Valor Ventas,Valor Descuentos,Valor Neto,Impuesto,Base Imp.,Total Imp.,Total,Hora
0,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bebidas,...,6200.0,0,"5.740,74",,"5.740,74",I CONSUMO (8%),"5.740,74",459.0,6200.0,09:05:41
1,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Platos Fuertes,...,32000.0,0,"32.000,00",,"32.000,00",NaN,0,NaN,32000.0,09:05:41
2,2022-05-04 09:05:41 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,1,A10024210,"72.200,00",Bowls,...,34000.0,0,"31.481,48",,"31.481,48",I CONSUMO (8%),"31.481,48",2518.0,34000.0,09:05:41
3,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",A BURGER MASTER,...,5000.0,0,"5.000,00",,"5.000,00",NaN,0,NaN,5000.0,09:05:58
4,2022-05-04 09:05:58 p. m.,Primal Alimentos SAS,Pablo Rios,Astrid,NaN,General,3,A10024211,"69.500,00",Entradas,...,16000.0,0,"14.814,81",,"14.814,81",I CONSUMO (8%),"14.814,81",1185.0,16000.0,09:05:58

In [46]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38536 entries, 0 to 38535
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   38536 non-null  object
 1   Negocio                 38536 non-null  object
 2   Facturador              38536 non-null  object
 3   Vendedor                38536 non-null  object
 4   Proveedor de Domicilio  5 non-null      object
 5   Cliente                 38536 non-null  object
 6   Mesa                    38536 non-null  object
 7   No. Factura             38536 non-null  object
 8   Total Factura           38536 non-null  object
 9   Categoría               38536 non-null  object
 10  Código                  1 non-null      float64
 11  Producto                38536 non-null  object
 12  Cantidad                38527 non-null  float64
 13  Precio de venta         32151 non-null  float64
 14  Valor Promoción         38536 non-null  int64
 15  Valor Ventas            38536 non-null  object
 16  Valor Descuentos        38536 non-null  object
 17  Valor Neto              38536 non-null  object
 18  Impuesto                28655 non-null  object
 19  Base Imp.               38536 non-null  object
 20  Total Imp.              33554 non-null  float64
 21  Total                   36414 non-null  float64
 22  Hora                    38536 non-null  object
dtypes: float64(5), int64(1), object(17)
memory usage: 6.8+ MB

In [ ]:
# df_horas = df_prod[['Fecha','Producto','']]

In [51]:
df_prod.to_csv('dias_horas_df.csv', index = False, encoding='utf-8')

In [24]:

from datetime import date

d0 = date(2022, 5, 5)
d1 = date(2022, 10, 18)
delta = d1 - d0
print(delta.days)

166

In [25]:
# df['Fecha'] = pd.to_datetime(df['date_col'], format='%Y-%m-%d %H:%M:%S')

NameError: name 'df' is not defined

In [ ]:
# df['Fecha'] = int(df['Fecha'])

In [ ]:
# df['Fecha'].dtype

In [ ]:
# df_prod['fecha_columna'] = pd.to_datetime((df_prod['Fecha'])).dt.date

In [ ]:
# df_prod['fecha_columna'].dtype()

In [ ]:
# df_prod['hora'] = df_prod['fecha_columna'].dt.hour

In [ ]:
df_prod.info()

In [ ]:
df_prod.to_csv('productos_df.csv', index = False, encoding='utf-8')

In [ ]:

# from datetime import date

# d0 = date(2022, 5, 5)
# d1 = date(2022, 10, 18)
# delta = d1 - d0
# print(delta.days)